[submodule "libraries/tgbot-cpp"]
	path = libraries/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp.git
[submodule "libraries/thread-pool"]
	path = libraries/thread-pool
	url = https://github.com/bshoshany/thread-pool
